.skills-text {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 1.23rem;
}

body {
  background-color: #F2FFE9;
    font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: #9AD0EC;
  border-style: solid;
  border-bottom: 0px;
  border-color: #9AD0EC;
  border-width: 3px;
}
p{
font-family: 'Josefin Sans', sans-serif;
font-weight: 700;

}
ul{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1rem;
}

.first-hr {
  border-style: solid;
  border-bottom: 0px;
  border-color: #9AD0EC;

}

#title {
font-family: 'Sacramento', cursive;
  font-weight: 500;
  color: #9AD0EC;
  font-size: 3rem;
}

.heading {
  color: #9AD0EC;
  font-size: 2em;
}
td{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1rem;
}
label{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  line-height: 2.5;

}
