.skills-text{
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 1.23rem;
}
body {
  background-color:#FAEEE7;

}

hr {
  background-color: white;
  border-width: 20px;
}
.first-hr{
  background-color: red;
  border-style: dotted;
  border-bottom:0px;
  border-color: red;
width:10px;
}
#title{
  font-family: Montserrat;
  font-weight: 500;
  color: #D9534F;
}
